{% block resume %}
  <section id="resume" class="about">

    <div class="about-me container">

      <div class="section-title">
        <h2>О нас</h2>
      </div>

      <div class="row">
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>{{ tag1 }} </h3>
          <p class="fst-italic">
           Крупнейшая частная авиакомпания России с самым современным парком воздушных судов на российском рынке авиаперевозок. Широкая маршрутная сеть позволяет нашим пассажирам путешествовать в 181 город в 26 странах мира.
          </p>
		  <p>
            Наши качества:
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Безопасность</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Пунктуальность</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Сервис</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Современный флот</strong></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Широкая география полетов</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Социальная ответственность</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Сильная команда</strong></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Дешевые билеты</strong></li>
              </ul>
            </div>
          </div>
          <p>
            Наши качества в цифрах:
          </p>
        </div>
      </div>
</div>

{% endblock %}    